:root {
  --primary-text-calor: #757575;
  --title-text-calor: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-bg-hero: #2f303a;
}

body {
  font-family: Roboto, serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-calor);
  font-size: 14px;
  line-height: 1.71;
  /* or 24px */
  letter-spacing: 0.03em;
}
button {
  font-family: inherit;
}

.title {
  color: var(--title-text-calor);
}

.link {
  color: var(--title-text-calor);
  text-decoration: none;
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* button {
  font-family: inherit;
} */

/*------------------------------------logo-----------------------------*/
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-nav {
  color: var(--title-text-calor);
}
/*------------------------------site-nav list--------------------------*/
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav,
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.site-nav .link {
  cursor: pointer;
}
/*------------------------------auth-nav list------------------------*/
.auth-nav,
.list {
  list-style: none;
  text-decoration: none;
}
.auth-nav .list {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-calor);
}
.list:hover,
.list:focus {
  color: var(--accent-color);
}
/*-----------------------------------hero----------------------------*/
.hero {
  background-color: var(--color-bg-hero);
}
.button-hero {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* ---------------------------------saction------------------------ */
.section-list {
  list-style: none;
}
.section-title {
  color: var(--title-text-calor);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/*----------------------------section "чим займаємось"--------------------*/
.section > .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.item {
  list-style: none;
}
/*-------------------------------section team------------------------ */
.section-team {
  background-color: #f5f4fa;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team {
  color: var(--title-text-calor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*---------------------------------footer---------------------------------*/
address {
  font-style: normal;
}
.footer,
.logo-footer {
  background-color: var(--color-bg-hero);
  color: var(--primary-white-color);
}
.list,
.footer-text {
  color: #ffffff99;
  list-style: none;
  text-decoration: none;
}
/*----------------------------------PORTFOLIO-----------------------------*/
.list .portfolio .link {
  line-height: 1.63;
}
.list .title-portfolio {
  color: var(--title-text-calor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list .text-portfolio {
  color: var(--primary-text-calor);
  font-size: 16px;
  line-height: 1.88;
}
.list .button {
  color: var(--title-text-calor);
  background-color: #f5f4fa;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
